<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Gestion des comptes" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Ajout, Modification & Supresion</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <button type="button" class="btn btn-success add-btn me-2" id="create-btn" ><i class="ri-add-line align-bottom me-1"></i>
                                    Add</button>
                                <button class="btn btn-subtle-danger" ><i class="ri-delete-bin-2-line"></i></button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchQuery" (input)="digitFilter()">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                                <div class="search-box ms-2">
                                    <select name="" id="" class="form-control search"  [(ngModel)]="selectedStatus" (change)="searchStatus()">
                                        <option value="" selected>Selectionnez un statut</option>
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap " id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"  >
                                        </div>
                                    </th>
                                    <th class="sort" >Nom & prenom
                                    </th>
                                    <th class="sort" >Email</th>
                                    <th class="sort" >Telephone</th>
                                    <th class="sort" >Adresse</th>
                                    <th class="sort " >Date de création
                                    </th>
                                    <th class="sort " >Statut
                                    </th>
                                    <th class="sort">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of comptes;let i = index;" id="compte_{{data.id}}">
                                    <th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child" value="{{data.id}}" >
                                        </div>
                                    </th>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>
                                    <td class="customer_name">{{data.prenom + " " + data.nom}}</td>
                                    <td class="email">{{data.email}}</td>
                                    <td class="phone">{{data.telephone}}</td>
                                    <td class="phone">{{data.adresse}}</td>
                                    <td class="date">{{data.created_at | date}}</td>
                                    <td class="status"><span class="badge text-uppercase" [ngClass]="{'bg-success-subtle text-success' : data.abonnement_status !== false,'bg-danger-subtle text-danger' : data.abonnement_status == false}">{{data.abonnement_status ? "Actif" : "inactif"}}</span>
                                        <span class="badge text-uppercase ms-2" [ngClass]="{'bg-success-subtle text-success' : data.email_verified_at !== null,'bg-danger-subtle text-danger' : data.email_verified_at == false}">{{data.email_verified_at ? "Email vérifié" : "email non vérifié"}}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="view">
                                                <button disabled class="btn btn-sm btn-light view-item-btn"  ><i class="ph-eye"></i></button>
                                            </div>
                                            <div class="edit">

                                                <button disabled class="btn btn-sm btn-success edit-item-btn"><i class="ph-pen"></i></button>
                                            </div>
                                            <div  class="remove">
                                                <button class="btn btn-sm btn-danger remove-item-btn" (click)="openDeleteCompteModal(data.id)"><i class="ph-trash"></i></button>
                                            </div>
                                            <div class="updateABonnement">
                                                <button class="btn btn-sm btn-warning remove-item-btn" (click)="openSubscriptionModal(data.id)" ><i class="ph-user-switch"></i> Reconduire</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                        <div class="noresult" [ngClass]="(comptes.length != 0)?'d-none':''">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                <h5 class="mt-2">Désolé! Aucun compte trouvé</h5>
                                <p class="text-muted mb-0">Aucune donnée ne correspond à votre recherche.</p>
                            </div>
                        </div>
                        <span class="bg-primary p-2 text-light"><b><i>Total des comptes : {{AllComptes.length}}</i></b></span>
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [boundaryLinks]="showBoundaryLinks" 
                            [directionLinks]="showDirectionLinks" [(ngModel)]="paginationCurrentPage"  [totalItems]="state.totalItem" [itemsPerPage]="state.itemPerPage" (pageChanged)="tablepageChanged($event)" [maxSize]="10"></pagination>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div bsModal #showSubscriptionModal="bs-modal" class="modal fade" id="showSubscriptionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (onHide)="hideSubscriptionModalAction('onHide',$event)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" (click)="showSubscriptionModal.hide()" id="close-modal"></button>
            </div>
            
            <form [formGroup]="CompteFormGroup" class="tablelist-form" (submit)="submitSubscriptionForm()">
                {{ CompteFormGroup.value | json }}
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="compte" />

                    <!-- <div class="mb-3" id="modal-id" style="display: none;">
                        <label for="id-field" class="form-label">ID</label>
                        <input type="hidden" id="id-field" class="form-control" placeholder="ID" readonly />
                    </div> -->
                    <div>
                        <label for="offre" class="form-label">Formules</label>
                        <select #offre class="form-control" data-trigger  (change)="initialiseFormuleData()">
                            <option value="">Choisir la formule</option>
                            <option value="{{ formule.id }}" *ngFor="let formule of formules">{{ formule.libelle }}</option>
                        </select>
                        <h4 class="option-title text-center">Choisir une Formule</h4>
                        <div class="d-flex justify-content-between p-1 fw-bold" *ngIf="selectedFormule">
                            <div class="formules-item d-flex flex-column text-center" [ngClass]="{selected : selectedFormuleOptionIndex === i}" *ngFor=" let option of selectedFormule.offre_options; let i = index" (click) = "initialiseFormAbonnementData(i, option.pivot.id)">
                                <div class="formule-timing bg-success">
                                    <p><span>{{ option.duree }}</span> mois</p>
                                </div>
                                <div class="formule-price">
                                    <p><span>{{ option.pivot.montant | number }}</span> FCFA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formule-item-avantage d-flex  flex-wrap" *ngIf="selectedFormule">
                        <ul>
                            <li *ngFor="let avantage of selectedFormule.avantages" class="">{{ avantage.libelle }}</li>

                        </ul>
                    </div>
                    <div class="error-feedback alert alert-danger" *ngIf="CompteFormGroup.get('formule')?.invalid && CompteFormGroupSubmited === true">Veuillez choisir une formule</div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="showSubscriptionModal.hide()">Annuler</button>
                        <button type="" class="btn btn-success" id="add-btn" >Valider</button>
                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- removeItemModal -->
<div bsModal #deleteCompteModal="bs-modal" class="modal fade" (onHide)="hideDeleteCompteModalAction('onHide', $event)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                    (click)="deleteCompteModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash3 display-5"></i>
                    </div>
                    <div class="mt-3">
                        <h4>êtes vous sûr?</h4>
                        <p class="text-muted mx-4 mb-0">Voulez vous vraiment supprimer ce compte ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 me-2 mb-1">
                    <button type="button" class="btn w-sm mb-1 btn-success" data-bs-dismiss="modal"
                        (click)="deleteSelectedCompte()">Oui, Je supprime!</button>
                    <button type="button" class="btn w-sm btn-danger mb-1 " id="delete-product"
                        (click)="deleteCompteModal.hide()">Fermer</button>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
